// Sizes
$container-width: 1300px;

// Colors
$light-gray: #fafafa;
$primary-black: #444444;
$primary: #030e12;
$action: #f9e45b;
$animated: #e4ddf4;
$horror: #940008;
$green: #397754;
$orange: #f6c453;
$white: #ffffff;
$black: #000000;

$shadow-many: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

// Font Family
$font-family: 'Helvetica';
$font-family-action: Arial, sans-serif;
$font-family-horror: 'Courier New', monospace;
$font-family-animated: 'Trebuchet MS', sans-serif;
