@import '../../../styles/variables';

// Card
.movie-card {
  margin-left: 40px;
  width: 200px;

  .image {
    cursor: pointer;
    height: 300px;

    img {
      border-radius: 5px;
      max-height: 100%;
    }
  }
  .content {
    margin-top: 15px;
    position: relative;

    h2 {
      cursor: pointer;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .rating {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: -35px;
    }
  }
}
